<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Anonymous Publishing</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/themes/{{theme}}.css">
</head>
<body>
  {{> header}}
  {{{body}}}
  {{> footer}}
  <script src="/lib/socket.io.js"></script>
  <script src="/lib/anime.min.js"></script>
  <script src="/js/main.js"></script>
  <script src="/js/animations.js"></script>
  <script src="/js/socket.js"></script>
</body>
</html>
